@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');
 
:root{
    --font01: Arial, Helvetica, sans-serif;
    --font02:'Sriracha', cursive;
    }

*{
    margin: 0px;
    padding: 0px;

}


body{
    text-align: justify;
    font-weight: bold;
    height: 100vh;


}
header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    }

header > h1 {
    font-size: 4em;
    padding-top: 50px;

}

a.link1 {
    color: white;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    padding-bottom: 50px;
    display:inline-block;
} 

p {
    padding: 15px;
    line-height: 7vh;
    padding-bottom: 5vh;
    font-size: 3vh;

   

}
section{
    font-size: 2.5vw;


}
section.img01 > p{

    background-color: rgba(0, 0, 0, 0.504);
    color:white;
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;

}

section.img02 > p{
    background-color: rgba(0, 0, 0, 0.504);
    color:white;
    display: block;
    margin-top: 40px;
    margin-left: 10px;
    display: inline-block;
    

}

.img01{
    background-image: url('../imagens/background001.jpg');
    height: 70vh;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, 0.437);
    background-size: cover;
}
.img02{
    background-image: url('../imagens/background002.jpg');
    height: 70vh;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, 0.437);
    background-size: cover;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a:hover{
    color: rgb(32, 32, 221);
    text-decoration: underline;



}
